$main-color: #6136e4;
$secondary-color: #2a1769;
$border-secondary: #190e3e;
$pure-white: #fff;
$light-white: #eee;
$dark: #181226;
$light-dark: #0f0921;
$border-dark: #0e0821;
$gold-color: #8a941e;
$purple-color: #681ca2;

// $light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
// $red-gradient: linear-gradient(45deg, rgba(18, 103, 28, 0.75), rgba(5, 1, 1, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(#6136e4, 0.75), rgba(#2a1769, 0.9));
// $red-gradient-solid: linear-gradient(45deg, rgb(18, 103, 28, 1), rgb(5, 1, 1, 1));
// $light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);