.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.section-heading{
    position: relative;
    font-size: 3rem;
    margin-bottom: 2em;
    text-transform: uppercase;
    text-align: center;
    color: $main-color;
    letter-spacing: 2px;
    
    &-twoo{
        margin-top: 0.5em;
    }
}
.section-padding{
    padding: 6em 2em;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.482);
}