@media(min-width: 768px){
    .header{
        &__heading{
            // font-family: serif;
            // font-weight: normal;
            margin-bottom: 0.1em;
            font-size: 4.8rem;
            color: $pure-white;
        }

        &__text{
            font-size: 1.8rem;
            margin-bottom: 3em;
        }
        &__second-text{
            font-size: 1.4rem;
        }
        &__bg-icon--one{
            top: -11em;
            left: -11em;
        }
        
        &__bg-icon--two{
            top: -4em;
            right: -4em;
        }
    }
    .section-heading{
        font-size: 3.6rem;
    }
    .section-padding{
        padding: 8em 2em;
    }

    .projects{
        &__cards{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__card{
            margin: 1em;
            width: 45%;
        }
    }

    .about{
        &__box{
            
            &__in{
                width: 45%;
                &--title{
                    font-size: 1.8em;
                }
                &--text{
                    h2{
                        font-size: 1.4em;
                    }
                    p{
                        
                    font-size: 0.6em;
                    }
                }
            }
        }
    }

    .text {
        left: 50%;
        bottom: 5%;
        padding: 0.4em;
    
    }
    .text-appear {
        padding: 0.6em;
        margin: 0.4em;
    
    }
    .text p {
        font-size: 1.6rem;
    }
    .text-appear p {
        font-size: 1.6rem;
    }
    .hide{
        display: contents; 
    }
    .show{
        display:none;
    }
    
    .holder{
        
        margin-left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .text-work p{
        font-size: 1.2rem
    }
}