// @mixin burgerbtn {
//     position: absolute;
//     right: 0;
//     height: 3px;
//     content: '';
//     background-color: $pure-white;
//     background-color: red;
//     transition: width .3s;  
// }

// @mixin heroImges($bgImg){
//     background-image: /*$red-gradient,*/ url($bgImg);
//     background-size: cover;
//     background-position: center;
//     background-attachment: fixed;
// }
@mixin contactForm {
    margin-bottom: 2em;
    padding: 0.6em 1.2em;
    background-color: $main-color;
    
    border: 2px solid rgb(186, 3, 3);
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    input:focus {
        outline: 5px solid $secondary-color;
        // border: 20px solid rgba($color: $secondary-color, $alpha: 0.8);
      }
}

