@import './colors';
@import './components';
@import './mixins';
@import './animations';

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Merienda', cursive;
}

body{
    // font-family: ;
    font-size: 1.6rem;
     color: #090606;
}

//Header
.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    height: 100vh;
    text-align: center;
    background-attachment: scroll;  
    overflow: hidden; 
    
    // background: linear-gradient(to top, #ffffff, #bf87f7, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    // background: linear-gradient(to bottom, #bf87f7, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    background: linear-gradient(to bottom, #87f79e, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    // background-image: url('../img/bgimg.jpg');
    // background-position: center;
    // background-size: cover;
    
    &__bg-icon--one{
        position: absolute;
        opacity: 0.2;
        width: 50%;
        top: -2em;
        left: -2em;
        animation: rotate-right 55s infinite linear;
    }

    &__btn{
        margin-top: 2em;
        padding: 0.8em 1.6em;
        font-size: 1.6rem;
        background: $pure-white;
        border: none;
        border-radius: 8px;
        color: $dark;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
    
        &::before{
            background-color: $light-white;
        }
    }
    &__box-text{
        display: flex;
        position: relative;
        // background-color: rgb(173, 25, 25);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    &__heading{
        // font-family: serif;
        // font-weight: normal;
        font-family: 'Bangers', cursive;
        margin-bottom: 0.3em;
        font-size: 3.6rem;
        color: $dark;
    }

    &__text{
        font-size: 1.2rem;
        font-family: 'Bangers', cursive;
        color: $dark;
        margin-bottom: 1em;
    }
    &__second-text{
        text-align: left;
        font-size: 1.2rem;
        color: $dark;
    }
    &__box_slides{
        // background-color: #fff;
        position: relative;
        overflow: hidden;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
    &__slide-img{
        position: absolute;
        bottom: 5em;
        left: 5em;
        width: 50%;
        height: 60%;
        border-radius: 15px;
        // box-shadow: 3px 3px 10px rgba($color: $main-color, $alpha: 0.8);
        overflow: hidden;
        
        
        img{
            height: 100%;
            width: 100%;
        }
        
    }
    &__slide-img-twoo{
        position: absolute;
        z-index: 9;
        bottom: 5em;
        left: 5em;
        width: 50%;
        height: 60%;
        border-radius: 15px;
        // box-shadow: 3px 3px 10px rgba($color: $main-color, $alpha: 0.8);
        overflow: hidden;
        z-index: -1;
        transform: translate(50%, 20%);
        
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
    }
    &__slide-imgs{
        width: 110%;
        height: 110%;
        display: flex;
        transform: translateX(0);
        transition: transform 0.5s;
    }
    
    &__bg-icon--two{
        position: absolute;
        opacity: 0.2;
        width: 50%;
        top: -2em;
        right: -2em;
        animation: rotate-left 55s infinite linear;
    }
}

.img-slide{
    
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.hamburger{
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: 500;
    transform: translate(50% , -50%);

    &-inner, &-inner::before, &-inner::after{
        background-color: #fff;
        z-index: 500;
    }
}
.blue-text{
    color: $secondary-color;
}

[data-slides="abouta"]
{
    box-shadow: 5px 2px 27px 4px rgba(#87f79e, 0.85);
    border: 2px solid #6eca7f;
    // box-shadow: 1px 1px 8px 1px rgba(#87f79e, 0.75) inset;
}
[data-slides="frontend"]
{
    box-shadow: 5px 2px 27px 4px rgba(#f78787, 0.85);
    border: 2px solid #e67e7e;
}
[data-slides="backend"]
{
    box-shadow: 5px 2px 27px 4px rgba(#878df7, 0.85);
    border: 2px solid #7b80dd;
}
[data-slides="career"]
{
    box-shadow: 5px 2px 27px 4px rgba(#f3f787, 0.85);
    border: 2px solid #d3d674;
}

.nav{

    &-mobile{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $dark;
        transform: translateX(102%);
        transition: transform .3s;
        z-index: 10;

        &--active{
            transform: translateX(0)
        }
    }
    &-desktop{
        display: none;
    }
    &__link{
        position: relative;
        display: inline-block;
        margin: 0.5em;
        padding: 0.5em;
        font-size: 2.3rem;
        color: $main-color;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .3s;

        &:hover{
            color: $secondary-color;
        }
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            border: 2px solid $secondary-color;
            opacity: 0;
        }
        &:hover::before{
            animation: pulse 1s;
        }

    }
    &__logo-text{
        font-family: 'Bangers', cursive;
    }
}

// Main 
// Projects
.projects{
    background: linear-gradient(to top, #87f79e, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   
    &__card{
        position: relative;
        margin: 1em 0;
        height: 450px;
        color: $dark;
        text-align: center;
        perspective: 1000px;
        &-shadow{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform 1s, opacity 1s;
        }

        &:hover{
            .projects__card-img{
                transform: rotateY(-180deg);
                opacity: 0;
            }
            .projects__card-info{
                transform: rotateY(0);
                opacity: 1;
            }.projects__shadow{
                transform: rotateY(-180deg);
                opacity: 0;
            }
        }
        
        &-img{
            padding: 2em;
            height: 100%;
            border-radius: 8px;
            background-size: cover;
            transition: transform 1s, opacity 1s;
            &--first{
                background-image: url('../img/rev1-1.png');
            }
            &--second{
                background-image: url('../img/rev2-1.png');
            }
            &--third{
                background-image: url('../img/rev3-1.png');
            }
            &-title{
                font-size: 2.8rem;
            }
            &-info{
                position: absolute;
                bottom: 30px;
                right: 30px;
                font-size: 1.8rem;
                i{
                    margin-right: 0.5em;
                }
            }
        }
        &-info{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background-color: $light-dark;
            justify-content: center;
            border-radius: 8px;
            opacity: 0;
            transform: rotateY(180deg);
            transition: transform 1s, opacity 1s;

            &-title{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 1.2em;
                font-size: 2.8rem;
            }
            &-list{
                margin: 0 auto;
                width: 70%;
                font-size: 1.4rem;
                list-style-type: none;      
            }
            &-btn{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 2em;
                padding: 1em;
                border-radius: 8px;
                width: 80%;
                border: none;
                background-color: $main-color;
                cursor: pointer;

                &::before{
                    background-color: $secondary-color;
                }

            }
        }
    }
}
[data-project="abouta"]
{
    background-color: rgba(#57a065, 0.25);
    box-shadow: 5px 2px 27px 4px rgba(#87f79e, 0.65);
    border: 3px solid #6eca7f;
    border-radius: 8px;
}
[data-project="frontend"]
{
    background-color: rgba(#794040, 0.25);
    box-shadow: 5px 2px 27px 4px rgba(#f78787, 0.65);
    border: 2px solid #e67e7e;
    border-radius: 8px;
}
[data-project="backend"]
{
    background-color: rgba(#383a68, 0.25);
    box-shadow: 5px 2px 27px 4px rgba(#878df7, 0.65);
    border: 2px solid #7b80dd;
    border-radius: 8px;
}
[data-project="career"]
{
    background-color: rgba(#7b7d41, 0.25);
    box-shadow: 5px 2px 27px 4px rgba(#f3f787, 0.65);
    border: 2px solid #d3d674;
    border-radius: 8px;
}

[data-title="abouta"]
{
    background-color: rgba(#57a065, 0.85);
    box-shadow: 5px 2px 27px 4px rgba(#87f79e, 0.65);
    border: 3px solid #6eca7f;
    border-radius: 8px;
}
[data-title="frontend"]
{
    background-color: rgba(#794040, 0.85);
    box-shadow: 5px 2px 27px 4px rgba(#f78787, 0.65);
    border: 2px solid #e67e7e;
    border-radius: 8px;
}
[data-title="backend"]
{
    background-color: rgba(#383a68, 0.85);
    box-shadow: 5px 2px 27px 4px rgba(#878df7, 0.65);
    border: 2px solid #7b80dd;
    border-radius: 8px;
}
[data-title="career"]
{
    background-color: rgba(#7b7d41, 0.85);
    box-shadow: 5px 2px 27px 4px rgba(#f3f787, 0.65);
    border: 2px solid #d3d674;
    border-radius: 8px;
}

// About
.about{
    &__box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 2em 0;
        justify-content: center;
        
        &__in{
            margin: 1em;
            padding: 1em;
            overflow: hidden; 
            border: 1px solid $border-secondary;
            border-radius: 20px;
            box-shadow: 3px 3px 10px rgba($color: $secondary-color, $alpha: 0.8);
            width: 100%;
            background-color: $light-dark;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            &--middle{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &--title{
                font-size: 1.8em;
            }
            &--text{
                margin: 1rem 0;
                padding: 5px;
                width: 80%;
                text-align: center;
                background-color: $border-secondary;
                border-radius: 20px;
                box-shadow: 3px 3px 10px rgba($color: $dark, $alpha: 0.8);
                h2{
                    font-size: 1.4em;
                }
                p{
                    
                font-size: 0.6em;
                }
            }
            &--background{
                display: flex;
                
                position: relative;
                justify-content: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-image: linear-gradient(60deg, #3b2187,#3b2187,#3b2187,#381056,rgb(84, 76, 26), rgb(124, 123, 123),#381056,#3b2187,#3b2187,#3b2187);
                background-size: 600%;
                animation: colors 6s infinite;
                overflow: hidden;
                opacity: 0;
	            animation: show-text 1s 1.5s forwards;
                &--photo{
                    opacity: 0;
                    width: 100%;
	                animation: show-text 1s 1.5s forwards;
                }
            }
        }
    }
}
// :root{
//     --green-color: #1ca237;
//     --red-color: #ba1319;
//     --blue-color:#100cdf;
//     --yellow-color:#dfdc0c;
// }

// [data-bg="abouta"]
// {
//     background-color: var(--green-color);
// }
// [data-bg="frontend"]
// {
//     background-color: var(--red-color);
// }
// [data-bg="backend"]
// {
//     background-color: var(--blue-color);
// }
// [data-bg="career"]
// {
//     background-color: var(--yellow-color);
// }


// .aboutn {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	height: 100vh;
// 	font-family: 'Montserrat', sans-serif;
// }

// .wrappera {
// 	display: flex;
// 	padding: 0.5em;
// 	width: 1200px;
// 	background-color: #fff;
// 	border-radius: 10px;
// 	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
// }

// .hcard {
// 	position: relative;
// 	flex-grow: 0.8;
// 	height: 600px;
// 	margin: 4px;
// 	border-radius: 10px;
// 	background-size: cover;
// 	background-position: center;
// 	transition: flex-grow 0.8s;
// 	overflow: hidden;
// 	cursor: pointer;
// }

// .hcard::after {
// 	content: '';
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(0, 0, 0, 0.4);
// 	transition: opacity 0.5s;
// }

// .abouta {
// 	background-image: url('https://cdn.pixabay.com/photo/2016/04/12/10/55/blossom-1324088_960_720.jpg');
// }

// .frontend {
// 	background-image: url('https://cdn.pixabay.com/photo/2013/10/07/18/06/field-192179_960_720.jpg');
// }

// .backend {
// 	background-image: url('https://cdn.pixabay.com/photo/2019/03/31/21/43/the-dark-hedges-4094148_960_720.jpg');
// }

// .career {
// 	background-image: url('https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_960_720.jpg');
// }

// .abouta::before,
// .frontend::before,
// .backend::before,
// .career::before {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	opacity: 0.5;
// 	content: '';
// }

// .abouta::before {
// 	background-color: $green-color;
// }

// .frontend::before {
// 	background-color: $red-color;
// }

// .backend::before {
// 	background-color: $blue-color;
// }

// .career::before {
// 	background-color: $yellow-color;
// }

// .text {
// 	position: absolute;
// 	left: 50%;
// 	bottom: 10%;
// 	transform: translateX(-50%);
// 	width: 80%;
// 	padding: 2em;
// 	color: #fff;
// 	border-radius: 6px;
// 	z-index: 5;
// }

// .text h2 {
// 	text-transform: uppercase;
// 	transform: rotate(-90deg);
// }

// .text p {
// 	display: none;
// 	opacity: 0;
// 	font-size: 1.6rem;
// }

// .activea {
// 	flex-grow: 8;
// }

// .activea .text {
// 	animation: show-bg 1s 0.6s forwards;
// }

// .activea .text h2 {
// 	display: none;
// }

// .activea .text p {
// 	display: block;
// 	animation: show-text 1s 0.2s forwards;
// }

// .hcard.activea::after {
// 	opacity: 0;
// }

// @keyframes show-bg {
// 	to {
// 		background-color: rgba(0, 0, 0, 0.4);
// 	}
// }

// @keyframes show-text {
// 	to {
// 		opacity: 1;
// 	}
// }


[data-bg="abouta"]
{
    background-color: $green-color;
}
[data-bg="frontend"]
{
    background-color: $red-color;
}
[data-bg="backend"]
{
    background-color: $blue-color;
}
[data-bg="career"]
{
    background-color: $yellow-color;
}

[data-gradient-bg="abouta"]
{
    background: linear-gradient(to bottom, #87f79e, #ffffff, #ffffff);
}
[data-gradient-bg="frontend"]
{
    background: linear-gradient(to bottom, #f78787, #ffffff, #ffffff);
}
[data-gradient-bg="backend"]
{
    background: linear-gradient(to bottom, #878df7, #ffffff, #ffffff);
}
[data-gradient-bg="career"]
{
    background: linear-gradient(to bottom, #f3f787, #ffffff, #ffffff);

}
[data-gradient-bg-top="abouta"]
{
    background: linear-gradient(to top, #87f79e, #ffffff, #ffffff);
}
[data-gradient-bg-top="frontend"]
{
    background: linear-gradient(to top, #f78787, #ffffff, #ffffff);
}
[data-gradient-bg-top="backend"]
{
    background: linear-gradient(to top, #878df7, #ffffff, #ffffff);
}
[data-gradient-bg-top="career"]
{
    background: linear-gradient(to top, #f3f787, #ffffff, #ffffff);
}


.aboutme {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.wrappera {
	display: flex;
    flex-direction: column;
	padding: 0.5em;
	width: 1200px;
    height: 90vh;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.hcard {
	position: relative;
	flex-grow: 0.8;
	margin: 4px;
	height: 80%;
    width: 100%;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	transition: flex-shrink 0.6s;
	overflow: hidden;
    flex-shrink: 5;
	cursor: pointer;
}

.hcard::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transition: opacity 0.5s;
}

.abouta {
	background-image: url('https://cdn.pixabay.com/photo/2016/04/12/10/55/blossom-1324088_960_720.jpg');
}

.frontend {
	background-image: url('https://cdn.pixabay.com/photo/2013/10/07/18/06/field-192179_960_720.jpg');
}

.backend {
	background-image: url('https://cdn.pixabay.com/photo/2019/03/31/21/43/the-dark-hedges-4094148_960_720.jpg');
}

.career {
	background-image: url('https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_960_720.jpg');
}

.abouta::before,
.frontend::before,
.backend::before,
.career::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	content: '';
}

.abouta::before {
	background-color: $green-color;
}

.frontend::before {
	background-color: $red-color;
}

.backend::before {
	background-color: $blue-color;
}

.career::before {
	background-color: $yellow-color;
}

.text {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	width: 80%;
	padding: 0.3em;
	color: #fff;
	border-radius: 6px;
	z-index: 5;

}
.twoo{
    bottom: 20%;
}
.tree{
    bottom: 35%;
}

.text h2 {
	text-transform: uppercase;
	transform: rotate(0deg);
}

.text p {
	display: none;
	opacity: 0;
	font-size: 1.2rem;
}

.activea {
    flex-shrink: 1;
}

.activea .text {
	animation: show-bg 1s 1.5s forwards;
}
.activea .twoo {
	animation: show-bg 1s 1s forwards;
    padding: 10px;
}
.activea .tree {
	animation: show-bg 1s 0.6s forwards;
}

.activea .text h2 {
	display: none;
}

.activea .text p {
	display: block;
	animation: show-text 1s 1.5s forwards;
}
.activea .twoo p {
	display: block;
	animation: show-text 1s 0.8s forwards;
}

.activea .tree p {
	display: block;
	animation: show-text 1s 0.2s forwards;
}
.hcard.activea::after {
	opacity: 0;
}



.text-appear {
	width: 80%;
	padding: 0.8em;
    margin: 0.6em;
	color: #fff;
	border-radius: 15px;
	z-index: 5;
    text-align: center;

}

.text-appear p {
	display: none;
	opacity: 0;
	font-size: 1.2rem;
}

.activea .text-appear {
	animation: show-bg 1s 0.8s forwards;
}


.activea .text-appear p {
	display: block;
	animation: show-text 1s 0.8s forwards;
}

.text-work{
	font-size: 12px;
}
.hide{
	display: none;
}
.show{
	display:contents;
}



@keyframes show-bg {
	to {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

@keyframes show-text {
	to {
		opacity: 1;
	}
}
.skill-big-cointainer{
    display: flex;
    height: 100%;
    width: 100%;
}
.cointainer-skill {
    &--left{
        display: flex;
        height: 80%;
        width: 50%;
    }
    &--right{
        height: 100%;
        width: 50%;
    }
}
.cointainer-skill-small
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    height: 100%;
    width: 100%;
    &--left{
        align-items: flex-start;
    }
    
    &--right{
        align-items: flex-end;
    }
    &--second{
        padding-top: 1.5em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 80%;
        width: 100%;
    }
}
.career-big-cointainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.career-big-cointainer .text-appear{
    margin: 0.3em;
}
.cointainer-career {
    &--left{
        display: flex;
        height: 80%;
        width: 70%;
    }
    &--right{
        display: flex;
        height: 80%;
        width: 30%;
    }
}
.holder{
    margin-left: 30%;
    width: 100%;
    height: 100%;
}

.link{
    text-decoration: none;
    transition: color .3s;
    color: #fff;

    &:hover{
        color: $secondary-color;
    }
}



// CONTACT


[data-contact="abouta"]
{
    box-shadow: 1px 1px 8px 1px rgba(#87f79e, 0.75) inset;
}
[data-contact="frontend"]
{
    box-shadow: 1px 1px 8px 1px rgba(#f78787, 0.75) inset;
}
[data-contact="backend"]
{
    box-shadow: 1px 1px 8px 1px rgba(#878df7, 0.75) inset;
}
[data-contact="career"]
{
    box-shadow: 1px 1px 8px 1px rgba(#f3f787, 0.75) inset;
}

[data-contact-btn="abouta"]
{
    background-color: $green-color;
}
[data-contact-btn="frontend"]
{
    background-color: $red-color;
}
[data-contact-btn="backend"]
{
    background-color: $blue-color;
}
[data-contact-btn="career"]
{
    background-color: $yellow-color;
}

[data-contact-btn="abouta"]:hover
{
    color: $red-color;
    box-shadow: 1px 1px 8px 1px rgba(#2b5233, 0.75) inset;
}
[data-contact-btn="frontend"]:hover
{
    color: $yellow-color;
    box-shadow: 1px 1px 8px 1px rgba(#572d2d, 0.75) inset;
}
[data-contact-btn="backend"]:hover
{
    color: $green-color;
    box-shadow: 1px 1px 8px 1px rgba(#272847, 0.75) inset;
}
[data-contact-btn="career"]:hover
{
    color: $red-color;
    box-shadow: 1px 1px 8px 1px rgba(#484926, 0.75) inset;
}
.contact {
    position: relative;
    background-color: $light-dark;
    overflow: hidden;

    &__form,
    &__form-top {
        display: flex;
        flex-direction: column;
    }

    &__form-label {
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    &__form-input {
        @include contactForm;
    }
    

    &__form-textarea {
        @include contactForm;

        max-width: 100%;
        min-width: 100%;
        width: 100%;
        min-height: 150px;
    }
    
    &__form-btn {
        align-self: flex-end;
        padding: 1em;
        width: 100%;
        max-width: 300px;
        color: $pure-white;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &::before {
            background-color: $secondary-color;
        }
        &:hover{
            cursor: pointer;
        }
    }

}



@import './small';
@import './medium';
@import './large';