@import './colors';
@import './components';
@import './mixins';
@import './animations';

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    // font-family: ;
    font-size: 1.6rem;
    background-color: $dark;
    color: #fff;
}

//Header
.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    height: 100vh;
    text-align: center;
    background-attachment: scroll;  
    overflow: hidden; 
    
    &__bg-icon--one{
        position: absolute;
        opacity: 0.2;
        width: 50%;
        top: -2em;
        left: -2em;
        animation: rotate-right 55s infinite linear;
    }

    &__btn{
        margin-top: 2em;
        padding: 0.8em 1.6em;
        font-size: 1.6rem;
        background: $pure-white;
        border: none;
        border-radius: 8px;
        color: $dark;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
    
        &::before{
            background-color: $light-white;
        }
    }
    &__box-text{
        display: flex;
        position: relative;
        // background-color: rgb(173, 25, 25);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    &__heading{
        // font-family: serif;
        // font-weight: normal;
        margin-bottom: 0.3em;
        font-size: 3.6rem;
        color: $pure-white;
    }

    &__text{
        font-size: 1.2rem;
        color: $pure-white;
        margin-bottom: 1em;
    }
    &__second-text{
        text-align: left;
        font-size: 1.2rem;
        color: $pure-white;
    }
    &__box_slides{
        // background-color: #fff;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    &__slide-img{
        position: absolute;
        bottom: 5em;
        left: 5em;
        width: 50%;
        height: 60%;
        border-radius: 15px;
        box-shadow: 3px 3px 10px rgba($color: $main-color, $alpha: 0.8);
        overflow: hidden;
        
        img{
            height: 100%;
            width: 100%;
        }
        
    }
    &__slide-img-twoo{
        position: absolute;
        bottom: 5em;
        left: 5em;
        width: 50%;
        height: 60%;
        border-radius: 15px;
        box-shadow: 3px 3px 10px rgba($color: $main-color, $alpha: 0.8);
        overflow: hidden;
        z-index: -1;
        transform: translate(50%, 20%);
        
        img{
            height: 100%;
            width: 100%;
        }
        
    }
    &__slide-imgs{
        width: 100%;
        height: 100%;
    }
    
    &__bg-icon--two{
        position: absolute;
        opacity: 0.2;
        width: 50%;
        top: -2em;
        right: -2em;
        animation: rotate-left 55s infinite linear;
    }
}
.hamburger{
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: 500;
    transform: translate(50% , -50%);

    &-inner, &-inner::before, &-inner::after{
        background-color: #fff;
        z-index: 500;
    }
}
.blue-text{
    color: $secondary-color;
}

.nav{

    &-mobile{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $dark;
        transform: translateX(102%);
        transition: transform .3s;
        z-index: 10;

        &--active{
            transform: translateX(0)
        }
    }
    &-desktop{
        display: none;
    }
    &__link{
        position: relative;
        display: inline-block;
        margin: 0.5em;
        padding: 0.5em;
        font-size: 2.3rem;
        color: $main-color;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .3s;

        &:hover{
            color: $secondary-color;
        }
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            border: 2px solid $secondary-color;
            opacity: 0;
        }
        &:hover::before{
            animation: pulse 1s;
        }

    }
}

// Main 
// Projects
.projects{
    &__card{
        position: relative;
        margin: 1em 0;
        height: 450px;
        color: $pure-white;
        text-align: center;
        perspective: 1000px;

        &:hover{
            .projects__card-img{
                transform: rotateY(-180deg);
                opacity: 0;
            }
            .projects__card-info{
                transform: rotateY(0);
                opacity: 1;
            }
        }
        &-img{
            padding: 2em;
            height: 100%;
            border-radius: 8px;
            background-size: cover;
            transition: transform 1s, opacity 1s;
            &--first{
                background-image: $purple-gradient ,url('../img/rev1-1.png');
            }
            &--second{
                background-image: $purple-gradient ,url('../img/rev2-1.png');
            }
            &--third{
                background-image: $purple-gradient ,url('../img/rev3-1.png');
            }
            &-title{
                font-size: 2.8rem;
            }
            &-info{
                position: absolute;
                bottom: 30px;
                right: 30px;
                font-size: 1.8rem;
                i{
                    margin-right: 0.5em;
                }
            }
        }
        &-info{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background-color: $light-dark;
            justify-content: center;
            border-radius: 8px;
            opacity: 0;
            transform: rotateY(180deg);
            transition: transform 1s, opacity 1s;

            &-title{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 1.2em;
                font-size: 2.8rem;
            }
            &-list{
                margin: 0 auto;
                width: 70%;
                font-size: 1.4rem;
                list-style-type: none;      
            }
            &-btn{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 2em;
                padding: 1em;
                border-radius: 8px;
                width: 80%;
                border: none;
                background-color: $main-color;
                cursor: pointer;

                &::before{
                    background-color: $secondary-color;
                }

            }
        }
    }
}

// About
.about{
    &__box{
        width: 100%;
        display: flex;
        margin: 2em 0;
        justify-content: center;
        
        &__in{
            margin: 1em;
            padding: 1em;
            overflow: hidden; 
            border: 1px solid $border-secondary;
            border-radius: 20px;
            box-shadow: 3px 3px 10px rgba($color: $secondary-color, $alpha: 0.8);
            width: 33%;
            background-color: $light-dark;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            &--middle{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &--title{
                font-size: 1.8em;
            }
            &--text{
                margin: 1rem 0;
                padding: 5px;
                width: 80%;
                text-align: center;
                background-color: $border-secondary;
                border-radius: 20px;
                box-shadow: 3px 3px 10px rgba($color: $dark, $alpha: 0.8);
                h2{
                    font-size: 1.4em;
                }
                p{
                    
                font-size: 0.6em;
                }
            }
            &--background{
                display: flex;
                
                position: relative;
                justify-content: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-image: linear-gradient(60deg, #3b2187,#3b2187,#3b2187,#381056,rgb(84, 76, 26), rgb(124, 123, 123),#381056,#3b2187,#3b2187,#3b2187);
                background-size: 600%;
                animation: colors 6s infinite;
                overflow: hidden;
                &--photo{
                    width: 100%;
                }
            }
        }
    }
}
.more-about{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    &--button{
        position: relative;
        padding: 5px;
        width: 60%;
        text-align: center;
        background-color: $border-secondary;
        border-radius: 20px;
        box-shadow: 3px 3px 10px rgba($color: $dark, $alpha: 0.8);
        transition: color .3s;
        
        p{
            
        font-size: 1em;
        }
        .small{
            font-size: 0.6em;
        }
        &:hover{
            color: $secondary-color;
            cursor: pointer;
        }
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            border: 2px solid $secondary-color;
            border-radius: 20px;
            opacity: 0;
            animation: pulse2 4s infinite;
        }
    }
}
// CONTACT
.contact {
    position: relative;
    background-color: $light-dark;
    overflow: hidden;

    &__form,
    &__form-top {
        display: flex;
        flex-direction: column;
    }

    &__form-label {
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    &__form-input {
        @include contactForm;
    }
    

    &__form-textarea {
        @include contactForm;

        max-width: 100%;
        min-width: 100%;
        width: 100%;
        min-height: 150px;
    }
    textarea:focus, input:focus{
       
        outline: 5px solid $secondary-color;
    }
    &__form-btn {
        align-self: flex-end;
        padding: 1em;
        width: 100%;
        max-width: 300px;
        color: $pure-white;
        border: none;
        border-radius: 8px;
        background-color: $main-color;
        cursor: pointer;

        &::before {
            background-color: $secondary-color;
        }
        &:hover{
            color: $secondary-color;
            cursor: pointer;
        }
    }

}



@import './small';
@import './medium';
@import './large';